<launch>
  <!-- Config and weights folder. -->
  <arg name="yolo_checkpoint_path" default="$(find iarc7_vision_cnn)/cfg/darkflow_config/ckpt"/>
  <arg name="yolo_config_path"    default="$(find iarc7_vision_cnn)/cfg/darkflow_config/cfg"/>
  <arg name="yolo_labels_path"    default="$(find iarc7_vision_cnn)/cfg/darkflow_config/"/>


  <!-- Load parameters -->
  <rosparam command="load" ns="darkflow_ros" file="$(find iarc7_vision_cnn)/cfg/ros.yaml"/>
  <rosparam command="load" ns="darkflow_ros" file="$(find iarc7_vision_cnn)/cfg/yolov2-tiny.yaml"/>

  <!-- Start darkflow and ros wrapper -->
  <node pkg="iarc7_vision_cnn" type="darkflow_node" name="darkflow_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="checkpoint_path" value="$(arg yolo_checkpoint_path)" />
    <param name="config_path"     value="$(arg yolo_config_path)" />
    <param name="labels_path"     value="$(arg yolo_config_path)" />
  </node>

</launch>
